<p id="notice"><%= notice %></p>

<p>
  <strong>Kennel type:</strong>
  <%= @kennel.kennel_type %>
</p>

<p>
  <strong>Materials:</strong>
  <%= @kennel.materials %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @kennel.cost %>
</p>

<p>
  <strong>Labor:</strong>
  <%= @kennel.labor %>
</p>

<p>
  <strong>Charge:</strong>
  <%= @kennel.charge %>
</p>

<p>
  <strong>Date:</strong>
  <%= @kennel.date %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @kennel.customer_id %>
</p>

<%= link_to 'Edit', edit_kennel_path(@kennel) %> |
<%= link_to 'Back', kennels_path %>
